<!DOCTYPE html>
<html lang="en"ng-app="Testing">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <!--<link rel="stylesheet" href="/css/main.css"/>-->
</head>
<body>
    <div ng-controller = "testCtrl1 as Ctrl">
     <form id="testForm" name="testForm" novalidate ng-submit="Ctrl.testButton1()" autocomplete="off">
        <div class="form-group" ng-class="{ 'has-error': regForm.deptNo.$touched && regForm.deptNo.$invalid }">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"
                class="form-control"
                ng-model="Ctrl.testInput1.name"
                required>
            <div class="help-block" ng-messages="regForm.name.$error" ng-if="regForm.name.$touched">
                <p ng-message="required">Name</p>
            </div>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': regForm.deptName.$touched && regForm.deptName.$invalid }">
            <label for="deptName">Age:</label>
            <input type="text" id="age" name="age"
                class="form-control"
                ng-model="Ctrl.testInput1.age"
                ng-minlength="2" required>
            <div class="help-block" ng-messages="regForm.age.$error" ng-if="regForm.age.$touched">
                <p ng-message="minlength">Department Name Too Short</p>
                <p ng-message="required">Department Name is required</p>        
            </div>
        </div>

        <div class="form-group">
            <button types="submit" class="btn-success form-control"
            ng-disabled="regForm.$invalid">
            testbutton1
            </button>
        </div>
    </form>
</div>
    <!--<div>
    <h1>Landing Page - The Eagle has Landed!</h1>
        <a href="#/A">
        Testcase1
        </a>

        <a href="#/B">
        Testcase2
        </a>

    </div>  -->

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="app/app.js"></script>
<script src="app/service/service.js"></script>
<script src="app/Testcase1/testcase1.js"></script>
<script src="app/Testcase2/testcase2.js"></script>
<script src="app/service/uirouter.js"></script>

</body>
</html>